apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: kube-proxy
  labels:
    k8s-app: kube-proxy
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  selector:
    matchLabels:
      k8s-app: kube-proxy
  templateGeneration: 1
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        k8s-app: kube-proxy
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: kube-proxy
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - effect: NoSchedule
        key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
      containers:
      - name: kube-proxy-amd64
        image: "{% if localregistry == true %}{{ registry_url }}/{% endif -%}kayakwise/kube-proxy-amd64:v{{ kube_version }}"
        command:
        - kube-proxy
        - --v=0
        - --logtostderr=true
        {% if kube_proxy_mode == 'ipvs' -%}
        - --masquerade-all
        - --feature-gates=SupportIPVSProxyMode=true
        - --ipvs-min-sync-period=5s
        - --ipvs-sync-period=5s
        - --ipvs-scheduler={{ kube_proxy_ipvs_scheduler }}
        {% endif -%}
        - --kubeconfig=/run/kube-proxy.conf
        - --cluster-cidr={{ pod_network_cidr }}
        - --proxy-mode={{ kube_proxy_mode }}
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /run/xtables.lock
          name: xtables-lock
        - mountPath: /run/kube-proxy.conf
          name: kubeconfig
      dnsPolicy: ClusterFirst
      hostNetwork: true
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: /run/xtables.lock
        name: xtables-lock
      - hostPath:
          path: {{ kubernetes.config.kube_proxy }}
        name: kubeconfig
