apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: kube-controller-manager
    tier: control-plane
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "{{ images.manager.name }}"
    image: "{{ images.manager.repos }}/{{ images.manager.name }}:{{ images.manager.tag }}"
    command:
      - kube-controller-manager
      - --v=0
      - --logtostderr=true
      - --address=127.0.0.1
      - --port=10252
      - --cluster-cidr={{ pod_network_cidr }}
      - --root-ca-file={{ kubernetes.certs.ca }}
      - --cluster-signing-cert-file={{ kubernetes.certs.ca }}
      - --cluster-signing-key-file={{ kubernetes.certs.ca_key }}
      - --service-account-private-key-file={{ kubernetes.certs.sa_key }}
      - --kubeconfig={{ kubernetes.config.controller_manager }}
      - --leader-elect={{ leader_elect }}
      - --leader-elect-lease-duration={{ leader_elect_lease_duration }}
      - --leader-elect-renew-deadline={{ leader_elect_renew_deadline }}
      - --leader-elect-retry-period={{ leader_elect_retry_period }}
      - --node-monitor-grace-period={{ node_monitor_grace_period }}
      - --node-monitor-period={{ node_monitor_period }}
      - --pod-eviction-timeout={{ pod_eviction_timeout }}
      - --controllers={{ controllers }}
      - --allocate-node-cidrs=true
      {% if feature_gates.controller != "" -%}
      - --feature-gates={{ feature_gates.controller }}
      {% endif -%}
      - --use-service-account-credentials=true
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    resources:
      requests:
        cpu: 200m
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
      name: flexvolume-dir
    - mountPath: {{ kubernetes.dir.pki }}
      name: k8s-certs
      readOnly: true
    - mountPath: {{ kubernetes.config.controller_manager }}
      name: kubeconfig
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs
  - hostPath:
      path: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
      type: DirectoryOrCreate
    name: flexvolume-dir
  - hostPath:
      path: {{ kubernetes.dir.pki }}
      type: DirectoryOrCreate
    name: k8s-certs
  - hostPath:
      path: {{ kubernetes.config.controller_manager }}
      type: FileOrCreate
    name: kubeconfig
