apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: kube-scheduler
    tier: control-plane
  name: kube-scheduler
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: "{{ images.scheduler.name }}"
    image: "{{ images.scheduler.repos }}/{{ images.scheduler.name }}:{{ images.scheduler.tag }}"
    command:
      - kube-scheduler
      - --v=0
      - --logtostderr=true
      - --address=127.0.0.1
      - --port=10251
      - --leader-elect={{ leader_elect }}
      {% if feature_gates.scheduler != "" -%}
      - --feature-gates={{ feature_gates.scheduler }}
      {% endif -%}
      - --kubeconfig={{ kubernetes.config.scheduler }}
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10251
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    resources:
      requests:
        cpu: 100m
    volumeMounts:
    - mountPath: {{ kubernetes.config.scheduler }}
      name: kubeconfig
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kubernetes.config.scheduler }}
      type: FileOrCreate
    name: kubeconfig
