kind: Service
apiVersion: v1
metadata:
  name: heapster
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  ports:
    - port: 80
      targetPort: 8082
  selector:
    k8s-app: heapster
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: heapster
  labels:
    k8s-app: heapster
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: heapster
  template:
    metadata:
      labels:
        k8s-app: heapster
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: heapster
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      containers:
        - image: jicki/heapster-amd64:v1.4.0
          name: heapster
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8082
              scheme: HTTP
            initialDelaySeconds: 180
            timeoutSeconds: 5
          command:
            - /heapster
            - --source=kubernetes.summary_api:''
            - --sink=influxdb:http://monitoring-influxdb:8086
        - name: eventer
          image: jicki/heapster-amd64:v1.4.0
          command:
            - /eventer
            - --source=kubernetes:''
            - --sink=influxdb:http://monitoring-influxdb:8086
        - name: heapster-nanny
          image: ist0ne/addon-resizer:1.6
          resources:
            limits:
              cpu: {{ monitor.resizer.limits.cpu }}
              memory: {{ monitor.resizer.limits.memory }}
            requests:
              cpu: {{ monitor.resizer.requests.cpu }}
              memory: {{ monitor.resizer.requests.memory }}
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          command:
            - /pod_nanny
            - --cpu={{ base_metrics_cpu }}
            - --extra-cpu={{ metrics_cpu_per_node }}m
            - --memory={{ base_metrics_memory }}
            - --extra-memory={{ metrics_memory_per_node }}Mi
            - --threshold=5
            - --deployment=heapster
            - --container=heapster
            - --poll-period=300000
            - --estimator=exponential
        - name: eventer-nanny
          image: ist0ne/addon-resizer:1.6
          resources:
            limits:
              cpu: {{ monitor.resizer.limits.cpu }}
              memory: {{ monitor.resizer.limits.memory }}
            requests:
              cpu: {{ monitor.resizer.requests.cpu }}
              memory: {{ monitor.resizer.requests.memory }}
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          command:
            - /pod_nanny
            - --cpu=100m
            - --extra-cpu=0m
            - --memory={{ base_eventer_memory }}
            - --extra-memory={{ eventer_memory_per_node }}Ki
            - --threshold=5
            - --deployment=heapster
            - --container=eventer
            - --poll-period=300000
            - --estimator=exponential
