apiVersion: v1
kind: Service
metadata:
  name: monitoring-influxdb
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  ports:
    - name: http
      port: 8083
      targetPort: 8083
    - name: api
      port: 8086
      targetPort: 8086
  selector:
    k8s-app: influx-grafana
---
apiVersion: v1
kind: Service
metadata:
  name: monitoring-grafana
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: ui
  selector:
    k8s-app: influx-grafana
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: monitoring-influxdb-grafana
  namespace: kube-system
  labels:
    k8s-app: influx-grafana
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: influx-grafana
  template:
    metadata:
      labels:
        k8s-app: influx-grafana
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      containers:
        - name: influxdb
          image: jicki/heapster-influxdb-amd64:v1.3.3
          resources:
            limits:
              cpu: {{ monitor.influxdb.limits.cpu }}
              memory: {{ monitor.influxdb.limits.memory }}
            requests:
              cpu: {{ monitor.influxdb.requests.cpu }}
              memory: {{ monitor.influxdb.requests.memory }}
          ports:
            - name: http
              containerPort: 8083
            - name: api
              containerPort: 8086
          volumeMounts:
          - name: influxdb-persistent-storage
            mountPath: /data
        - name: grafana
          image: rancher/heapster-grafana-amd64:v4.4.3
          env:
          resources:
            limits:
              cpu: {{ monitor.influxdb.limits.cpu }}
              memory: {{ monitor.influxdb.limits.memory }}
            requests:
              cpu: {{ monitor.grafana.requests.cpu }}
              memory: {{ monitor.grafana.requests.memory }}
          env:
            - name: INFLUXDB_SERVICE_URL
              value: http://monitoring-influxdb:8086
            - name: GF_AUTH_BASIC_ENABLED
              value: "false"
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: Admin
            - name: GF_SERVER_ROOT_URL
              value: /api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/
          ports:
          - name: ui
            containerPort: 3000
            protocol: TCP
          volumeMounts:
          - name: grafana-persistent-storage
            mountPath: /var
      volumes:
      - name: influxdb-persistent-storage
        emptyDir: {}
      - name: grafana-persistent-storage
        emptyDir: {}
