apiVersion: v1
kind: Service
metadata:
  name: default-http-backend
  labels:
    k8s-app: default-http-backend
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  ports:
  - port: 80
    targetPort: 8080
  selector:
    k8s-app: default-http-backend
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: default-http-backend
  labels:
    k8s-app: default-http-backend
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: default-http-backend
  template:
    metadata:
      labels:
        k8s-app: default-http-backend
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      terminationGracePeriodSeconds: 60
      containers:
      - name: default-http-backend
        image: jicki/defaultbackend:1.4
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 5
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: {{ nginx_ingress.backend.limits.cpu }}
            memory: {{ nginx_ingress.backend.limits.memory }}
          requests:
            cpu:  {{ nginx_ingress.backend.requests.cpu }}
            memory:  {{ nginx_ingress.backend.requests.memory }}
