kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  labels:
    app: ceph
    daemon: restapi
  name: ceph-restapi
  namespace: ceph
spec:
  template:
    metadata:
      name: ceph-restapi
      namespace: ceph
      labels:
        app: ceph
        daemon: restapi
    spec:
      serviceAccount: default
      volumes:
        - name: ceph-conf
          secret:
            secretName: ceph-conf-combined
        - name: ceph-bootstrap-osd-keyring
          secret:
            secretName: ceph-bootstrap-osd-keyring
        - name: ceph-bootstrap-mds-keyring
          secret:
            secretName: ceph-bootstrap-mds-keyring
        - name: ceph-bootstrap-rgw-keyring
          secret:
            secretName: ceph-bootstrap-rgw-keyring
      containers:
        - name: ceph-restapi
          image: {% if localregistry == true %}{{ registry_url }}/{% endif -%}{{ images.ceph.repos }}/{{ images.ceph.name }}:{{ images.ceph.tag }}
          ports:
            - containerPort: 5000
          env:
            - name: CEPH_DAEMON
              value: RESTAPI
            - name: KV_TYPE
              value: k8s
            - name: CLUSTER
              value: ceph
          volumeMounts:
            - name: ceph-conf
              mountPath: /etc/ceph
            - name: ceph-bootstrap-osd-keyring
              mountPath: /var/lib/ceph/bootstrap-osd
            - name: ceph-bootstrap-mds-keyring
              mountPath: /var/lib/ceph/bootstrap-mds
            - name: ceph-bootstrap-rgw-keyring
              mountPath: /var/lib/ceph/bootstrap-rgw
          resources:
            requests:
              memory: "128Mi"
              cpu: ".5"
            limits:
              memory: "128Mi"
              cpu: ".5"
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-restapi
  namespace: ceph
  labels:
    app: ceph
    daemon: restapi
spec:
  ports:
  - port: {{ ceph.rgw.rest_api.port }}
    protocol: TCP
    targetPort: 5000
  selector:
    app: ceph
    daemon: restapi
  type: LoadBalancer
  externalIPs:
  - "{{ ceph.rgw.rest_api.vip }}"
