kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  labels:
    app: ceph
    daemon: rgw
  name: ceph-rgw
  namespace: ceph
spec:
  replicas: 3
  template:
    metadata:
      name: ceph-rgw
      namespace: ceph
      labels:
        app: ceph
        daemon: rgw
    spec:
      nodeSelector:
        node-type: storage
      serviceAccount: default
      volumes:
        - name: ceph-conf
          secret:
            secretName: ceph-conf-combined
        - name: ceph-bootstrap-osd-keyring
          secret:
            secretName: ceph-bootstrap-osd-keyring
        - name: ceph-bootstrap-mds-keyring
          secret:
            secretName: ceph-bootstrap-mds-keyring
        - name: ceph-bootstrap-rgw-keyring
          secret:
            secretName: ceph-bootstrap-rgw-keyring
      containers:
        - name: ceph-rgw
          image: {% if localregistry == true %}{{ registry_url }}/{% endif -%}{{ images.ceph.repos }}/{{ images.ceph.name }}:{{ images.ceph.tag }}
          ports:
            - containerPort: 8080
          env:
            - name: CEPH_DAEMON
              value: RGW
            - name: KV_TYPE
              value: k8s
            - name: CLUSTER
              value: ceph
          volumeMounts:
            - name: ceph-conf
              mountPath: /etc/ceph
            - name: ceph-bootstrap-osd-keyring
              mountPath: /var/lib/ceph/bootstrap-osd
            - name: ceph-bootstrap-mds-keyring
              mountPath: /var/lib/ceph/bootstrap-mds
            - name: ceph-bootstrap-rgw-keyring
              mountPath: /var/lib/ceph/bootstrap-rgw
          livenessProbe:
              httpGet:
                path: /
                port: 8080
              initialDelaySeconds: 120
              timeoutSeconds: 5
          readinessProbe:
              httpGet:
                path: /
                port: 8080
              timeoutSeconds: 5
          resources:
            requests:
              memory: "500Mi"
              cpu: ".5"
            limits:
              memory: "500Mi"
              cpu: ".5"
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-rgw
  namespace: ceph
  labels:
    app: ceph
    daemon: rgw
spec:
  ports:
  - port: {{ ceph.rgw.port }}
    protocol: TCP
    targetPort: 8080
  selector:
    app: ceph
    daemon: rgw
  type: LoadBalancer
  externalIPs:
  - "{{ ceph.rgw.vip }}"
