[Service]
{% if kube_version.split(".")[1]|int < 8 %}
Environment="KUBELET_KUBECONFIG_ARGS=--address=0.0.0.0 --port=10250 --kubeconfig={{ kubernetes.config.kubelet }} --require-kubeconfig"
Environment="KUBELET_EXTRA_ARGS=--serialize-image-pulls=false"
{% else %}
Environment="KUBELET_KUBECONFIG_ARGS=--address=0.0.0.0 --port=10250 --kubeconfig={{ kubernetes.config.kubelet }}"
Environment="KUBELET_CERTIFICATE_ARGS=--rotate-certificates=true --cert-dir={{ kubernetes.dir.rotate_cert }}"
Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false --serialize-image-pulls=false"
{% endif %}
Environment="KUBE_LOGTOSTDERR=--logtostderr=true --v=0"
Environment="KUBELET_SYSTEM_PODS_ARGS=--pod-manifest-path={{ kubernetes.dir.manifest }} --allow-privileged=true --anonymous-auth=true"
Environment="KUBELET_POD_CONTAINER=--pod-infra-container-image={{ images.pod_infra.repos }}/{{ images.pod_infra.name }}:{{ images.pod_infra.tag }}"
Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir={{ kubernetes.dir.cni }} --cni-bin-dir={{ kubernetes.dir.cni_bin }}"
Environment="KUBELET_DNS_ARGS=--cluster-dns={{ dns_ip }} --cluster-domain={{ dns_name }}"
Environment="KUBELET_AUTHZ_ARGS=--authorization-mode=Webhook --client-ca-file={{ kubernetes.certs.ca }}"
Environment="KUBELET_CADVISOR_ARGS=--cadvisor-port=0"
{% if cri_plugin == 'containerd'  %}
Environment="CRU_RUNTIME_ARGS=--container-runtime=remote --container-runtime-endpoint=unix:///var/run/cri-containerd.sock"
{% endif %}
ExecStart=
ExecStart=/usr/local/bin/kubelet $KUBELET_KUBECONFIG_ARGS \
                                 $KUBE_LOGTOSTDERR \
                                 $KUBELET_POD_CONTAINER \
                                 $KUBELET_SYSTEM_PODS_ARGS \
                                 $KUBELET_NETWORK_ARGS \
                                 $KUBELET_DNS_ARGS \
                                 $CRU_RUNTIME_ARGS \
                                 $KUBELET_AUTHZ_ARGS \
                                 $KUBELET_CERTIFICATE_ARGS \
                                 $KUBELET_EXTRA_ARGS \
                                 $KUBE_NODE_LABEL
