kind: Pod
apiVersion: v1
metadata:
  name: haproxy
  namespace: kube-system
  labels:
    component: haproxy
    tier: control-plane
spec:
  containers:
  - name: "{{ images.haproxy.name }}"
    image: "{{ images.haproxy.repos }}/{{ images.haproxy.name }}:{{ images.haproxy.tag }}"
    resources:
      requests:
        cpu: 100m
    volumeMounts:
    - name: cfg-volume
      readOnly: true
      mountPath: "/usr/local/etc/haproxy/haproxy.cfg"
  hostNetwork: true
  volumes:
  - name: cfg-volume
    hostPath:
      path: "/etc/haproxy/haproxy.cfg"
