kind: Pod
apiVersion: v1
metadata:
  name: keepalived
  namespace: kube-system
  labels:
    component: keepalived
    tier: control-plane
spec:
  containers:
  - name: "{{ images.keepalived.name }}"
    image: "{{ images.keepalived.repos }}/{{ images.keepalived.name }}:{{ images.keepalived.tag }}"
    env:
    - name: VIRTUAL_IP
      value: {{ lb_vip_address }}
    - name: INTERFACE
      value: {{ keepalived_vip_interface }}
    - name: VIRTUAL_MASK
      value: "{{ keepalived_check_vmask }}"
    - name: CHECK_IP
      value: "{{ keepalived_check_ip }}"
    - name: CHECK_PORT
      value: "{{ keepalived_check_port }}"
    - name: VRID
      value: "{{ keepalived_check_vid }}"
    resources:
      requests:
        cpu: 100m
    securityContext:
      privileged: true
      capabilities:
        add:
        - NET_ADMIN
  hostNetwork: true
