kind: Service
apiVersion: v1
metadata:
  name: traefik-ingress-service
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  type: LoadBalancer
  externalIPs:
    - "{{ lb_vip_address }}"
  ports:
    - protocol: TCP
      port: 80
      name: web
    - protocol: TCP
      port: 8580
      name: admin
  selector:
    k8s-app: traefik-ingress
---
kind: DaemonSet
apiVersion: extensions/v1beta1
metadata:
  name: traefik-ingress
  labels:
    k8s-app: traefik-ingress
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  template:
    metadata:
      labels:
        k8s-app: traefik-ingress
    spec:
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      serviceAccountName: traefik-ingress-controller
      terminationGracePeriodSeconds: 60
      containers:
      - name: traefik-ingress-lb
        image: traefik
        ports:
        - name: http
          containerPort: 80
          hostPort: 80
        - name: admin
          containerPort: 8580
          hostPort: 8580
        securityContext:
          privileged: true
        args:
        - -d
        - --web
        - --web.address=:8580
        - --kubernetes
