{
  "name": "multus-kayak",
  "type": "multus",
  "delegates": [
    {
      "type": "macvlan",
      "master": "{{ host_interface }}",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "{{ multus_ipam_subnet }}",
        "rangeStart": "{{ multus_ipam_rangeStart }}",
        "rangeEnd": "{{ multus_ipam_rangeEnd }}",
        "routes": [
          {
            "dst": "0.0.0.0/0"
          }
        ],
        "gateway": "{{ multus_ipam_gateway }}"
      }
    },
    {
      "type": "flannel",
      "masterplugin": true,
      "delegate": {
        "isDefaultGateway": true
      }
    }
  ]
}